/* .back{
    background-color: #EBF7FF;
} */
body{
  margin: 0 auto;
  padding: 0; 
}
#landImg {
  width: 100%;
  height: 100vh;
  opacity: 0.9;
}
.contener {
  position: relative;
  text-align: center;
  color: white;
}
.top-right {
  position: absolute;
  top: 70%;
  left: 72%;
  transform: translate(-50%, -50%);
}
a.btn {
  border-radius: 12px;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  margin: 16px;
padding: 16px; 
}

a.btn:hover {
  color: #000000;
  background-color: red;
}
